.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;

  .search-icon {
    width: 40px;
    height: 40px;
  }

  .search-input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: none;
    outline: none;

    &::placeholder {
      color: #aaa;
      font-style: italic;
    }
  }

  button {
    padding: 8px 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);
      background-color: red;
    }
  }
}