<div class="contact-list">
  <h2>Contact List</h2>
  <div *ngIf="contacts$ | async as contacts; else noContacts">
    <div 
      *ngFor="let contact of contacts" 
      class="contact-card" 
      [class.selected]="contact.id === selectedContactId"
      (click)="selectContact(contact.id)">
      <span class="contact-id">ID: {{ contact.id }}</span>
      <span class="contact-fullname">{{ contact.firstName }} {{ contact.lastName }}</span>
    </div>
  </div>
  <ng-template #noContacts>
    <p>There are no contacts to display</p>
  </ng-template>
</div>