<div class="container">
  <div class="left-panel">
    <app-contact-search (searchTermChanged)="onSearchTermChanged($event)"></app-contact-search>
    <p *ngIf="!shortContactsToDisplay.length">There are no contacts to display!</p>
    <div class="contacts-container">
      <app-contact-item 
        *ngFor="let contact of shortContactsToDisplay" 
        [firstName]="contact.firstName" 
        [lastName]="contact.lastName"
        [isSelected]="contact.id === selectedContact?.id"
        (click)="selectContactById(contact.id)">
      </app-contact-item>
    </div>
  </div>
  
  <div class="right-panel">
    <ng-container *ngIf="selectedContact">
      <app-contact-detail 
        [contact]="selectedContact"
        [isEditing]="isEditing">
      </app-contact-detail>
      <button (click)="closeSelectedContact()">Close</button>
      <button (click)="toggleEditing()">
        {{ isEditing ? 'Cancel' : 'Edit' }}
      </button>
    </ng-container>
    
    <p *ngIf="!selectedContact">Select a contact to see details.</p>
  </div>
</div>